.logo {
  fill: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  height: 36px;
  width: 36px;
}

@media screen and (min-width: 480px) {
  .logo {
    height: 30px;
    width: 30px;
  }
}
@media screen and (min-width: 720px) {
  .logo {
    height: 36px;
    width: 36px;
  }
}
