@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--background);
  height: 100vh;
}

@font-face {
  font-family: "grotesk-regular";
  src: url("../public/fonts/tomato-grotesk-regular.otf");
}
@font-face {
  font-family: "grotesk-medium";
  src: url("../public/fonts/tomato-grotesk-regular.otf");
}
@font-face {
  font-family: "grotesk-bold";
  src: url("../public/fonts/tomato-grotesk-regular.otf");
}

.slide-in {
  transform: translateY(0%);
  transition: transform 0.3s ease-out;
}
