@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--background);
}
body {
  min-height: 100dvh;
}

@font-face {
  font-family: "grotesk-regular";
  src: url("../public/fonts/tomato-grotesk-regular.otf");
}
@font-face {
  font-family: "grotesk-medium";
  src: url("../public/fonts/tomato-grotesk-medium.otf");
}
@font-face {
  font-family: "grotesk-bold";
  src: url("../public/fonts/tomato-grotesk-semibold.otf");
}

:root {
  --reference-height: 852;

  --font-heading-small: calc(calc(20 / var(--reference-height)) * 100vh);
  --font-heading-normal: calc(calc(24 / var(--reference-height)) * 100vh);
  --font-heading-medium: calc(calc(32 / var(--reference-height)) * 100vh);
  --font-heading-large: calc(calc(42 / var(--reference-height)) * 100vh);

  --spacing-4: calc(calc(4 / var(--reference-height)) * 100vh);
  --spacing-6: calc(calc(6 / var(--reference-height)) * 100vh);
  --spacing-8: calc(calc(8 / var(--reference-height)) * 100vh);
  --spacing-12: calc(calc(12 / var(--reference-height)) * 100vh);
  --spacing-16: calc(calc(16 / var(--reference-height)) * 100vh);
  --spacing-24: calc(calc(24 / var(--reference-height)) * 100vh);
  --spacing-32: calc(calc(32 / var(--reference-height)) * 100vh);
  --spacing-48: calc(calc(48 / var(--reference-height)) * 100vh);
  --spacing-56: calc(calc(56 / var(--reference-height)) * 100vh);

  --border-radius-10: calc(calc(10 / var(--reference-height)) * 100vh);
}
