.app {
  display: grid;
  height: 100vh;
  grid-template-rows: var(--spacing-16) 1fr 1fr var(--spacing-56);
}

.appHeader {
  padding: 0px var(--spacing-16);
}

/* Input */

.inputStack {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: var(--spacing-16);
  padding: var(--spacing-16);
}

.inputContainer {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-4);
  padding: var(--spacing-12) var(--spacing-12) var(--spacing-6)
    var(--spacing-12);
  border: 1px solid var(--color-gray-5);
  border-radius: var(--border-radius-10);
}

.input-container.active {
  border-color: var(--color-yellow-2);
}

.input-label {
  font-size: var(--font-heading-small);
  font-weight: 500;
  text-transform: uppercase;
}

.input-value {
  font-size: var(--font-heading-large);
  font-weight: 500;
  letter-spacing: 0.9px;
}

/* Keyboard */

.keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: reapeat(5, var(--spacing-56));
  column-gap: var(--spacing-12);
  row-gap: var(--spacing-12);
  padding: var(--spacing-16);
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-10);
  font-size: var(--font-heading-medium);
  transition: background 600ms;
}

.key.num {
  font-weight: 500;
  background: var(--color-gray-6);
}

.key.num:active {
  background: var(--color-gray-5);
  transition: background 0ms;
}

.key.clear {
  font-weight: 500;
  text-transform: uppercase;
  background: var(--color-gray-4);
}

.key.clear:active {
  background: var(--color-gray-3);
  transition: background 0ms;
}

.key.arrow {
  font-weight: 500;
  background: var(--color-yellow-2);
}

.key.arrow:active {
  background: var(--color-yellow-1);
  transition: background 0ms;
}
